@{
    ViewBag.Title = "MVC 5 Demo";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 5 Demo</h1>
    <p class="lead">System Requirements</p>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>The Application</h3>
        <p>
            A one page application for posting messages up to 100 characters long.
            Once a message has been posted, it will immediately show in a list on the same page.<br />
            The list is sorted in descending order based on when the message was posted.<br />
            Once the message has been posted, it can be starred or deleted.<br />
            The person whom is viewing the application can filter the messages by starred and unstarred posts.<br />
            All the actions are done with Ajax.<br />
        </p>

        <h3>The Technology</h3>
        <ul>
            <li>
                <b>Server Side:&nbsp;</b>We prefer that you use MVC5 with the OWIN framework, We are using SQLServer for the Database so that is preferred.
            </li>
            <li>
                <b>Client Side:&nbsp;</b>No Framework Requirements
            </li>
            <li>
                <b>Look & Feel:&nbsp;</b>No Framework Requirements. You are free to express yourself.
            </li>
            <li>
                <b>Delivery:&nbsp;</b>Create a public repository on github called “PLCT1” and push your code there, let us know the link to the repository when you are ready for us to review.
            </li>
        </ul>
    </div>
</div>
