@{
    ViewBag.Title = "MVC 5 Demo";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 5 Demo</h1>
    <p class="lead">Contact Info</p>
</div>


<div class="row">
    <div class="col-md-12">
        <p>Jimmy Ross</p>
        <p>rossj3@gmail.com</p>
    </div>
</div>
